<div class="sidenav">
    <img class="uk-thumbnail" src="/static/img/mugshot.png" alt="">
    <h2><div id="name">David Harrigan</div></h2>
    <div id="slogan">will someday be an expert developer</div>

    <ul class="uk-list sidenav-links">
        <li ng-class="{active:vm.isActive('/')}">
            <a href="/#/" ng-click="vm.toggle()">
                <span class="list-icon"><i class="uk-icon-home"></i></span>
                <span class="list-text">HOME</span>
            </a>
        </li>
        <li ng-class="{active:vm.isActive('/about')}">
            <a href="/#/about" ng-click="vm.toggle()">
                <span class="list-icon"><i class="uk-icon-user"></i></span>
                <span class="list-text">ABOUT</span>
            </a>
        </li>
        <li ng-class="{active:vm.isActive('/projects')}">
            <a href="/#/projects" ng-click="vm.toggle()">
                <span class="list-icon"><i class="uk-icon-code"></i></span>
                <span class="list-text">PROJECTS</span>
            </a>
        </li>
        <li ng-class="{active:vm.isActive('/contact')}">
            <a href="/#/contact" ng-click="vm.toggle()">
                <span class="list-icon"><i class="uk-icon-envelope"></i></span>
                <span class="list-text">CONTACT</span>
            </a>
        </li>
    </ul>
</div>
