<div class="sidenav">
    <img class="uk-thumbnail" src="/static/img/mugshot.png" alt="">
    <h2><div id="name">David Harrigan</div></h2>
    <div id="slogan">will someday be an expert developer</div>

    <ul class="uk-list uk-list-line">
        <li><a href="/#/" ng-click="vm.toggle()"><i class="uk-icon-home"></i> Home</a></li>
        <li><a href="/#/about" ng-click="vm.toggle()"><i class="uk-icon-user"></i> About</a></li>
        <li><a href="/#/projects" ng-click="vm.toggle()"><i class="uk-icon-code"></i> Projects</a></li>
        <li><a href="/#/contact" ng-click="vm.toggle()"><i class="uk-icon-envelope"></i> Contact</a></li>
    </ul>
</div>
