// Home page
// =================================================
#home {
    text-align: center;
    padding-top: 55px;

    h1 {
        color: #ffffff;
        font-family: 'Palanquin', sans-serif;
    }
}

#social {
    margin-top: 40px;
}
.social-icon {
    padding: 6px;
    margin: 0 5px 0 5px;
    color: white;
    background-color: #42474D;
    .border-radius(@default-border-radius);
}


// About page
// =================================================
#about-blurb {
    padding-top: 40px;
    max-width: 66%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

// Project page
// =================================================
.project-panel {

    .panel-footer {
        position: absolute;
        bottom: 8px;
        left: 18px;
    }
}

// Contact page
// =================================================
#contact {
    padding-top: 40px;
    margin-left: auto;
    margin-right: auto;
}
