<div class="sidenav">
    <div class="uk-thumbnail" id="profile-pic">
        <img src="" alt="">
    </div>
    <h2><div id="name">David Harrigan</div></h2>
    <div id="slogan">will someday be an expert developer</div>

    <ul class="uk-list uk-list-line">
        <li><a href="/#/"><i class="uk-icon-home"></i> Home</a></li>
        <li><a href="/#/about"><i class="uk-icon-user"></i> About</a></li>
        <li><a href="#"><i class="uk-icon-code"></i> Projects</a></li>
        <li><a href="#"><i class="uk-icon-paperclip"></i> Resume</a></li>
        <li><a href="#"><i class="uk-icon-envelope"></i> Contact</a></li>
    </ul>
</div>
