<!DOCTYPE html>
<html ng-app="dh">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>David Harrigan</title>
    <base href="/" />
    <link rel="stylesheet" href="/static/vendor/vendor.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/static/dh.css" type="text/css" media="all" />
  </head>

  <body>
    <div class="main-wrapper" ng-init="hideNav=false;">
      <div class="sidenav-wrapper">
        <side-nav></side-nav>
      </div>

      <div class="content-wrapper">
        <header></header>
        <div class="content" ng-view></div>
      </div>

    </div>

    <!-- Scripts -->
    <script src="/static/vendor/vendor.js"></script>
    <script src="/static/dh.js"></script>
  </body>

</html>
